
ul {
    list-style: none;
}

html {
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Montserrat", sans-serif;
}

.main {
    max-width: 1200px;
    margin: 48px auto;
    border: 0.1px solid lightgray; 
    border-radius: 6px;
}



.main .header {
    background-color: #ffa200;
    display: flex;
    padding: 1rem 1.5rem;
    color: white;
    gap: .5rem;
    font-weight: bold;
    align-items: center;
}

.main .header p {
    font-size: 1.5rem;
}

.official {
    margin-top: 12px;
    padding: 1.5rem;
}

.official .time {
    font-size: 1rem;
    color: gray;
}

.official .titel  {
    margin-top: 12px;
}

.official .desc {
    margin-top: 24px;
    font-size: 16px;
}

.official .desc.margin {
    margin-bottom: 90px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: lightgray;
    margin-top: 30px;
}