

:root {
    --clr-primary: #e24e2a;
    --clr-grey: #ececec;
    --clr-grey-dark: #3f3f3f;
    --clr-grey-text: #6c6c6c;
    --clr-grey-bg: #383838;
    --clr-green: #1b9772;
    --clr-green-text: #3ea483;
    --clr-green-link: #8ec2aa;
    --clr-white: #fff;
}

body {
    font-family: Helvetica, sans-serif;
}

/* Navigation */


/* Hero */