

:root {
    --clr-primary: ;
    --clr-grey: ;
    --clr-grey-dark: ;
    --clr-grey-text: ;
    --clr-grey-bg: ;
    --clr-green: ;
    --clr-green-dark: ;
    --clr-green-text: ;
    --clr-green-link: ;
}

body {
    font-family: Helvetica, sans-serif;
}

/* Navigation */


/* Hero */