:root {
  --clr--linkedIn-blue: #0a66c2;
  --clr--title-blue: #3981cc;
  --clr--text-orange: #bd5e42;
  --clr--text-light-gray: #a8b2c4;
  --clr--tags-dark-grey: #e6e5e4;
  --clr-tag-text: #5c5c5b;
  --clr--background-dark-pink: #f1ece5;
  --clr--background-light-pink: #faf9f7;

  --section-padding: 48px 120px;
  --section-padding-x: 120px;
}

html {
  font-family: "Roboto", sans-serif;
}
body {
  padding: 0px 0px 0px 100px ;

}

button {
  cursor: pointer;
}

.btn {
  all: unset;
  padding: 12px 32px;
  border: 1px solid var(--clr--linkedIn-blue);
  border-radius: 32px;
  font-size: 22px;
  color: var(--clr--title-blue);
  font-weight: bold;
}

/*   Header  */

  #main {
    position: relative;
  }

 .nav{
 display: flex;
 align-items: center;
 justify-content: space-between;
}

 .logo {
  width: 15%;
}

 .nav-btn {
  display: flex;
  align-items: center;
  gap: 30px;
}

 .join {
  font-size: 25px;
  color: var(--clr--text-light-gray);
}


/*   Hero  */
 .hero {
  display: flex;
  justify-content: space-between;
}
 .hero .titel {
  font-size: 70px;
  font-weight: normal;
  color: var(--clr--linkedIn-blue);
}



.hero .form {
  display: flex;
  flex-direction: column;
  gap:  18px;
}

.hero .form input {
  padding: 20px 20px;
  width: 60%;
}
.hero .contact {
  width: 50%;
}

.hero .hero-img {
  width: 50%;
  position: absolute;
  right: 0;
  top: 1;
}










