
body {
  color: gray;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif; 
  color: black;
}

p {
    font-family: 'Poppins', sans-serif;
}



.content {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.content .info .title,
.content .info .desc:last-of-type {
    margin-bottom: 32px;
}

.content .hero-img, 
.content .info{
  width: 50%;
}

.services {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.services .service {
  display: flex;
  align-items: center;
  gap: 16px;
}

.services .service img {
  width: 70px;
}

